.dataloom-input.dataloom-input {
    width: 100%;
    height: 100%; /* Override Obsidian mobile style */
    transition: none;
    font-size: var(--text-normal); /* Reset to default Obsidian style */
    box-shadow: none;
}

.dataloom-input.dataloom-input--transparent {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: var(--dataloom-spacing--sm) var(--dataloom-spacing--lg);
}

.dataloom-input.dataloom-input--border {
    border: 1px solid var(--table-border-color);
    background-color: var(--background-secondary);
}

.dataloom-input--numeric {
    text-align: right;
}

.dataloom-input.dataloom-focusable.dataloom-input--error {
    outline: 2px solid var(--background-modifier-error);
    outline-offset: -2px;
}

.dataloom-input.dataloom-focusable.dataloom-input--error:focus {
    outline: 2px solid var(--background-modifier-error);
}

.dataloom-input.dataloom-focusable.dataloom-input__focus-outline--default {
    outline: 2px solid var(--background-modifier-border-focus);
    outline-offset: -2px;
}

.dataloom-input.dataloom-focusable.dataloom-input__focus-outline--none {
    outline: none;
}
